body {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
   
}

input {
    height: 30px;
    width: 300px;
    font-size: 20px;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 5px;
}

button{
    font-size: 20px;
}

.zero {
}

.equal {
 
}