body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
}

button {
  height: 70px;
  width: 200px;
  font-size: 20px;
  cursor: pointer;
}

p {
  font-size: 20px;
}